.footer__info {
	color: #ffff;
	font-size: 0;
}

.footer__info-card {
	display: inline-block;
	font-size: 10px;
	padding-bottom: 60px;
	vertical-align: top;
	width: calc(100% / 2);
}

.footer__info-card__title {
	font-size: 30px;
	padding: 60px;
}

.footer__info-card__text {
	font-size: 15px;
	line-height: 1.5;
	padding: 0 10%;
}

.footer__info-card a {
	color: #ffff;
	display: inline-block;
	font-size: 15px;
	padding-top: 7px;
	text-decoration: none;
}

.info-contact-us {
	background-color: #009dff;
}

.info-about-us {
	background-color: #333;
}

.footer__info-ordering-by {
	background-color: #000;
	color: #ffff;
	font-size: 0;
}

.footer__info-ordering-by-component {
	display: inline-block;
	font-size: 15px;
	padding: 40px;
	width: calc(100% / 2);
}

.footer__info-ordering-by-component span {
	color: #009dff;
}
