.web__apliction__development {
	padding: 50px;
	width: 100%;
}

.web__apliction__development-title {
	font-size: 30px;
	padding: 30px;
}

.web_app_info {
	font-size: 0;
	padding-left: 150px;
	padding-right: 150px;
}

.web_app_info-text {
	display: inline-block;
	font-size: 15px;
	line-height: 1.5;
	margin: 0 2%;
	vertical-align: top;
	width: 45%;
}
