.web__types__info {
	background-color: #333;
	font-size: 0;
	padding: 20px;
	width: 100%;
}

.web__types__info img {
	height: 150px;
	object-fit: cover;
	object-position: right;
	width: 253px;
}

.types__info-card {
	background-color: #ffff;
	display: inline-block;
	font-size: 30px;
	margin: 10px;
	vertical-align: top;
	width: calc(100% / 5.6);
}

.types__info-card-title {
	font-size: 20px;
	padding: 20px;
}

.types__info-card-text {
	font-size: 15px;
	padding-bottom: 40px;
	padding-inline: 30px;
}
